<!DOCTYPE html>
<html>

<!-- Head -->

<head th:replace="common/head"></head>

<body>
	<!-- Nav -->
	<nav th:replace="common/nav"></nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" id="contact">
				<div class="well well-sm">
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							<legend class="text-center">Contact us</legend>

							<!-- Name input-->
							<div class="form-group" id="contactForm">
								<label class="col-md-3 control-label" for="name">이름</label>
								<div class="col-md-9">
									<input id="name" name="name" type="text" placeholder="여기에 '이름'을 입력하세요"
										class="form-control">
								</div>
							</div>

							<!-- Email input-->
							<div class="form-group" id="contactForm">
								<label class="col-md-3 control-label" for="email">이메일</label>
								<div class="col-md-9">
									<input id="email" name="email" type="text" placeholder="여기에 '이메일'을 입력하세요"
										class="form-control">
								</div>
							</div>

							<!-- Message body -->
							<div class="form-group" id="contactForm">
								<label class="col-md-3 control-label" for="message">메시지</label>
								<div class="col-md-9">
									<textarea class="form-control" id="message" name="message"
										placeholder="여기에 '메시지'를 입력하세요" rows="17"></textarea>
								</div>
							</div>

							<!-- Form actions -->
							<div class="form-group">
								<div class="col-md-12 text-right" id="contactButton">
									<button type="button" id="send" class="btn btn-primary btn-lg">전송하기</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="common/footer"></footer>

	<script>
		$('#send').click(function () {
			var email = $('#email').val();
			var comment = $('#message').val();
			
			$("#name").val("");
			$("#email").val("");
			$("#message").val("전송 중 입니다...");
			
			$.ajax({
				url: '/contact',
				type: 'post',
				data: {'email': email, 'comment': comment},
				success: function (res) {
					alert('메일 전송을 완료했습니다');
					$("#message").val("");
				}
			})
		});
	</script>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</html>